# READ CSV FOR RANDOM TESTS & ANALYSIS

For easy access to csv files to allow quick manipulating and testing of data

In [2]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import csv

# Read csv file
restaurants_df = pd.read_csv("Resources/restaurant_data_coords_ratings.csv", encoding = "ISO-8859-1", 
                             names=["search_ID", "Latitude_search", "Longitude_search", "Name", "Lat_Restaurant", "Lng_Restaurant", "Address", "Zip", 
                                   "Rating", "# of Reviews", "Price Level", "Category", "Yelp ID"],
                             low_memory=False)

# Replace NaN entries with blank string
restaurants_df = restaurants_df.fillna('')
restaurants_df.head()

,search_ID,Latitude_search,Longitude_search,Name,Lat_Restaurant,Lng_Restaurant,Address,Zip,Rating,# of Reviews,Price Level,Category,Yelp ID
0,"38.871657, -123.017222",38.871657,-123.017222,101 Thai Way,38.7837,-123.011,1198 S Cloverdale Blvd,95425,4.5,198,$$,Thai,kzQg7SmFR4YR_cK2tWRjEQ
1,"38.871657, -123.017222",38.871657,-123.017222,Thai Spice,38.7844,-123.013,1123 S Cloverdale Blvd,95425,4.5,50,$$,Thai,PgwlPkDTeiVvG44Jn2DjQg
2,"38.871657, -123.017222",38.871657,-123.017222,Papa's Pizza Cafe,38.8053,-123.018,105 N Cloverdale Blvd,95425,4.5,85,$$,Pizza,bwp-KNxkgfQhsbaBYYvqdw
3,"38.871657, -123.017222",38.871657,-123.017222,KS Tian Yuen Restaurant,38.8004,-123.017,421 S Cloverdale Blvd,95425,4.0,119,$$,Chinese,GT3BntVo-Ves8ZywrmHTkg
4,"38.871657, -123.017222",38.871657,-123.017222,Trading Post,38.8051,-123.017,102 S Cloverdale Blvd,95425,4.0,128,$$,Bakeries,6o26tulocbwnkZx89EVHkA

In [7]:
group_df = restaurants_df.groupby("search_ID")
group_df["search_ID"].count()

search_ID
36.914427, -121.44266499999999              73
36.914427, -121.53528600000001              60
36.914427, -121.62790700000001              33
36.914427, -121.720528                     132
36.914427, -121.813149                     146
36.914427, -121.90576999999999             166
36.914427, -121.998391                     382
36.914427, -122.091012                     192
36.986917, -121.44266499999999               3
36.986917, -121.53528600000001             144
36.986917, -121.62790700000001             122
36.986917, -121.720528                     130
36.986917, -121.813149                     144
36.986917, -121.90576999999999             167
36.986917, -121.998391                     429
36.986917, -122.091012                     241
36.986917, -122.183633                       6
37.059407, -121.44266499999999               1
37.059407, -121.53528600000001             144
37.059407, -121.62790700000001             200
37.059407, -121.720528                      56
37.059407, -121.813149                       7
37.059407, -121.90576999999999             141
37.059407, -121.998391                     319
37.059407, -122.091012                     197
37.059407, -122.183633                      18
37.131896999999995, -121.53528600000001      4
37.131896999999995, -121.62790700000001    121
37.131896999999995, -121.720528            110
37.131896999999995, -121.813149             56
                                          ...
38.726677, -122.924601                      14
38.726677, -123.017222                      23
38.799167, -121.44266499999999              30
38.799167, -121.53528600000001               6
38.799167, -121.720528                       6
38.799167, -121.813149                       5
38.799167, -121.90576999999999               9
38.799167, -121.998391                       9
38.799167, -122.091012                      15
38.799167, -122.183633                      15
38.799167, -122.27625400000001               2
38.799167, -122.55411699999999              20
38.799167, -122.64673799999998              15
38.799167, -122.73935900000001               5
38.799167, -122.83198                        1
38.799167, -122.924601                       6
38.799167, -123.017222                      23
38.871657, -121.44266499999999               5
38.871657, -121.53528600000001               6
38.871657, -121.62790700000001               3
38.871657, -121.720528                       5
38.871657, -121.813149                       4
38.871657, -121.90576999999999               9
38.871657, -121.998391                       7
38.871657, -122.183633                       5
38.871657, -122.27625400000001               2
38.871657, -122.55411699999999              23
38.871657, -122.64673799999998              37
38.871657, -122.73935900000001               9
38.871657, -123.017222                      23
Name: search_ID, Length: 381, dtype: int64

# Finds coordinates with over 1k restaurants in search radius

Will run further api calls on those coordinates with an additional sort by top rated according to Yelp to ensure inclusion of all the 'best' restaurants.

In [3]:
coords_df = pd.read_csv("Resources/total_count_coords2.csv", encoding = "ISO-8859-1")
coords_df.head()

   Unnamed: 0        Lat         Lng  Total # of Restaurants
0           0  38.842665 -123.072800                       0
1           1  38.842665 -123.017222                      11
2           2  38.842665 -122.961644                       0
3           3  38.842665 -122.906066                       0
4           4  38.842665 -122.850488                       0

In [5]:
coords_sorted_df = coords_df.sort_values("Total # of Restaurants", ascending=False)
coords_sorted_df

      Unnamed: 0        Lat         Lng  Total # of Restaurants
708          708  37.798713 -122.405864                    2700
737          737  37.755215 -122.405864                    2600
736          736  37.755215 -122.461442                    1000
711          711  37.798713 -122.239130                     866
682          682  37.842211 -122.239130                     834
707          707  37.798713 -122.461442                     832
681          681  37.842211 -122.294708                     782
1036        1036  37.320235 -121.905662                     680
1007        1007  37.363733 -121.905662                     636
710          710  37.798713 -122.294708                     628
1035        1035  37.320235 -121.961240                     577
652          652  37.885709 -122.294708                     544
765          765  37.711717 -122.461442                     499
824          824  37.624721 -122.405864                     461
1037        1037  37.320235 -121.850084                     455
1005        1005  37.363733 -122.016818                     447
202          202  38.581677 -121.516616                     441
978          978  37.407231 -121.905662                     431
884          884  37.537725 -122.294708                     427
1034        1034  37.320235 -122.016818                     422
740          740  37.755215 -122.239130                     415
1006        1006  37.363733 -121.961240                     404
1008        1008  37.363733 -121.850084                     376
1064        1064  37.276737 -121.961240                     372
944          944  37.450729 -122.183552                     364
766          766  37.711717 -122.405864                     362
914          914  37.494227 -122.239130                     360
653          653  37.885709 -122.239130                     352
949          949  37.450729 -121.905662                     342
1066        1066  37.276737 -121.850084                     327
...          ...        ...         ...                     ...
675          675  37.842211 -122.628176                       0
689          689  37.842211 -121.850084                       0
690          690  37.842211 -121.794506                       0
625          625  37.929207 -122.183552                       0
614          614  37.929207 -122.794910                       0
552          552  38.016203 -123.017222                       0
583          583  37.972705 -122.906066                       0
553          553  38.016203 -122.961644                       0
554          554  38.016203 -122.906066                       0
555          555  38.016203 -122.850488                       0
557          557  38.016203 -122.739332                       0
563          563  38.016203 -122.405864                       0
578          578  38.016203 -121.572194                       0
579          579  38.016203 -121.516616                       0
580          580  37.972705 -123.072800                       0
581          581  37.972705 -123.017222                       0
582          582  37.972705 -122.961644                       0
584          584  37.972705 -122.850488                       0
613          613  37.929207 -122.850488                       0
585          585  37.972705 -122.794910                       0
586          586  37.972705 -122.739332                       0
588          588  37.972705 -122.628176                       0
596          596  37.972705 -122.183552                       0
607          607  37.972705 -121.572194                       0
608          608  37.972705 -121.516616                       0
609          609  37.929207 -123.072800                       0
610          610  37.929207 -123.017222                       0
611          611  37.929207 -122.961644                       0
612          612  37.929207 -122.906066                       0
1304        1304  36.928753 -121.516616                       0

[1305 rows x 4 columns]